*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: cadetblue;
    color: #000;
}
h1{
    text-align: center;
    background: goldenrod;
    color: black;
    font-size: 35px;
    padding: 8px;
    margin-bottom: 15px;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 10rem 0;
}
#input-text{
    
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 550;
}
p{
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 600;
}